<launch>

  <arg name="robot_name"                        default="tb3"/>
  <arg name="rviz_frame"                        default="$(arg robot_name)/odom"/>
  <arg name="rvizconfig"                        default="$(find interbotix_xslocobot_descriptions)/rviz/turtlebot3_navigation.rviz" />

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-f $(arg rviz_frame) -d $(arg rvizconfig)"
    ns="$(arg robot_name)">
    <remap from="/clicked_point" to="clicked_point"/>
    <remap from="/initialpose" to="initialpose"/>
    <remap from="/move_base_simple/goal" to="move_base_simple/goal"/>
  </node>


 <node 
    pkg="rtabmap_ros" 
    type="rtabmapviz" 
    name="rtabmapviz" 
    args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" 
    output="screen"
    ns="$(arg robot_name)/rtabmap">
      <param name="subscribe_scan"   type="bool"   value="true"/>
      <param name="subscribe_odom"   type="bool"   value="true"/>
      <!--<param name="frame_id"         type="string" value="base_link"/>-->
      <param name="frame_id"           value="$(arg robot_name)/base_footprint"/>
      <param name="approx_sync"      type="bool"   value="true"/>
      <param name="odom_frame_id"      value="$(arg robot_name)/odom"/>
      <remap from="odom"            to="/$(arg robot_name)/odom"/>
      <remap from="scan"            to="/$(arg robot_name)/scan_filtered"/>
    </node>

</launch>
